<h2>Listings</h2>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary" %>
<% end %>

<div class="center">
  <div class="row">
	  <% @listings.each do |listing| %>
      <div class="col-md-4 p-4">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image), listing %>
          <div class="caption">
            <h2><%= listing.name %></h2>
            <p> <%= listing.description %> </p>
            <p> <%= number_to_currency(listing.price) %> </p>
            <p> <%= listing.user.name %> </p>
            <% if (user_signed_in?) && (current_user === listing.user) %>
              <div class="action">
                <%= link_to 'Edit Item', edit_listing_path(listing), class: "btn btn-secondary" %>
                <%= button_to "Delete Item", listing, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

